.app-header {
  background-color: var(--clr5);
  color: var(--secondary-clr1);
  padding: 1em;
}

.app-header .main-nav {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
