.app-header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  color: var(--secondary-clr1);
  padding: 1em;
  box-shadow: rgb(100 121 143 / 28%) 0px -1px 0px 0px inset;
  border-width: 1px 1px 1px 6px;
}

.app-header .main-nav {
  display: flex;
  justify-content: space-between;
}

.app-header .main-nav img {
  max-width: 48px;
}

.app-header .main-nav .main-links {
  max-width: 50px;
  position: relative;
  align-self: center;
}

.app-header .main-nav .main-links svg {
  fill: #9b9b9b;
  cursor: pointer;
  width: 48px;
  border-radius: 7px;
  transition: .3s;
}

.app-header .main-nav .main-links svg:hover {
  background-color: #d8d8d8;
  fill: #707070;
}


.app-header .main-nav .main-links nav {
  width: 200px;
  text-align: center;
  color: var(--clr3);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding: 5px;
  background-color: whitesmoke;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.app-header .main-nav .main-links nav a {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  transition: .3s;
}

.app-header .main-nav .main-links nav a.router-link-active {
  background-color: #adc4ff;
}

.app-header .main-nav .main-links nav a:hover {
  background-color: #d1deff;
}

@media(max-width: 720px) {
  .app-header {
    /* background-color: var(--clr3);
    color: var(--secondary-clr2); */
  }
}
