.keep-page {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto;
  margin-inline-start: 161px;
}

.keep-page .search-bar {
  margin-left: 0;
}

.keep-page .side-nav {
  text-align: center;
  font-size: 24px;
  align-items: center;
}

.keep-page .side-nav a {
  border-radius: 50%;
  padding: 10px;
  transition: .3s;
}

.keep-page .side-nav a.router-link-exact-active {
  background-color: #d8d8d8;
  color: orange;
}

.keep-page .side-nav a:hover {
  background-color: #d8d8d8;
  color: orange;
}

.keep-page .notes-container {
  margin-block-start: 50px;
  padding-inline: 20px;
}

.note-list {
  columns: auto 5;
  gap: 10px;
}

/* NOTE-PREVIEW */

.note-preview {
  background-color: var(--clr2);
  padding: 15px;
  padding-block-end: 48px;
  position: relative;
  cursor: pointer;
  margin-block-end: 10px;
  break-inside: avoid-column;
}

.note-preview .note-actions {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  opacity: 0;
  transition: .3s;
}

.note-preview i.pinned {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  opacity: 0;
}

.note-preview:hover .note-actions,
.note-preview:hover i.pinned {
  opacity: 1;
}

.note-preview i.pinned {
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  transition: .3s;
}

.note-preview i.pinned:hover {
  background-color: rgba(154, 160, 166, 0.496);
  color: rgba(0, 0, 0, 0.7);
}

/* NOTE-ACTIONS */

.note-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 1.1em;
  cursor: auto;
}

.note-actions i {
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  transition: .3s;

}

.note-actions i:hover {
  background-color: rgba(154, 160, 166, 0.496);
  color: rgba(0, 0, 0, 0.7);
}

/* MODAL */

.backdrop {
  position: fixed;
  background-color: #202124b2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
}

.note-modal {
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  position: fixed;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  height: max-content;
  padding: 25px;
  background-color: white;
  transition: opacity .3s;
}

.note-modal .modal-title {
  background-color: rgba(0, 0, 0, 0.446);
  display: flex;
  justify-content: space-between;
}

.note-modal .modal-title .title-actions * {
  margin-inline: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: rotate .3s;
}
