.keep-page {
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto;
}

.keep-page .search-bar {
  margin-left: 0;
}

.keep-page .side-nav {
  text-align: center;
  font-size: 24px;
  align-items: center;
}

.keep-page .side-nav a {
  border-radius: 50%;
  padding: 10px;
  transition: .3s;
}

.keep-page .side-nav a.router-link-exact-active {
  background-color: #d8d8d8;
  color: orange;
}

.keep-page .side-nav a:hover {
  background-color: #d8d8d8;
  color: orange;
}

.keep-page .notes-container {
  margin-block-start: 150px;
  padding-inline: 20px;
}

.note-list {
  columns: auto 1;
  gap: 10px;
}

/* NOTE-ADD */

.note-add {
  width: 40%;
  margin-block: 10px;
}

.note-add input {
  border: none;
  border-bottom: 2px solid #5ea9ff;
  padding: 5px;
}

.note-add input:focus {
  outline: none;
}

.note-add .note-form {
  display: grid;
  grid-template-columns: auto 200px;
  gap: 10px;
}

.note-add .note-form .dynamic-input {
  grid-column: 1 / span 2;
  display: flex;
}

.note-add .note-form .dynamic-input input {
  flex-grow: 1;
}

.note-add .note-form .dynamic-input button[type="submit"] {
  margin-inline-start: 10px;
  width: 200px;
  font-size: 24px;
  border: 2px solid orange;
  background: transparent;
  color: orange;
  border-radius: 50px;
  transition: .3s;
}

.note-add .note-form .dynamic-input button[type="submit"]:hover {
  background-color: orange;
  color: white;
}

.note-add .note-types {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.note-add .note-types i {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: .3s;
}

.note-add .note-types i.active {
  background-color: #d8d8d8;
  color: orange;
}

.note-add .note-types i:hover {
  background-color: #d8d8d8;
  color: orange;
}

/* NOTE-PREVIEW */

.note-preview {
  background-color: var(--clr2);
  padding: 15px;
  padding-block-end: 48px;
  position: relative;
  cursor: pointer;
  margin-block-end: 10px;
  break-inside: avoid-column;
  border-radius: 5px;
  transition: background-color .4s;
}

.note-preview .note-actions {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  opacity: 0;
  transition: .3s;
}

.note-preview .note-actions .note-platte {
  position: absolute;
  background-color: white;
  left: -50%;
  top: -40px;
  width: max-content;
  display: flex;
  gap: 5px;
  padding: 10px;
  box-shadow: 0 0 5px var(--clr3);
  border-radius: 50px;
}

.note-preview .note-actions .note-platte .platte-color {
  border-radius: 50%;
  border: 2px solid transparent;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: .3s;
}

.note-preview .note-actions .note-platte .platte-color:hover {
  border: 2px solid black;
}

.note-preview .note-actions .note-platte .platte-color.active {
  border: 2px solid black;
}

.note-preview i.pinned {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  opacity: 0;
}

.note-preview:hover .note-actions,
.note-preview:hover i.pinned {
  opacity: 1;
}

.note-preview i.pinned {
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  transition: .3s;
}

.note-preview i.pinned:hover {
  background-color: rgba(154, 160, 166, 0.496);
  color: rgba(0, 0, 0, 0.7);
}

/* TODO-LIST */

.note-todos .todos-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-todos .todos-list label {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NOTE-ACTIONS */

.note-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 1.1em;
  cursor: auto;
}

.note-actions i {
  border-radius: 50%;
  padding: 7px;
  cursor: pointer;
  transition: .3s;
}

.note-actions i:hover {
  background-color: rgba(154, 160, 166, 0.496);
  color: rgba(0, 0, 0, 0.7);
}

/* MODAL */

.backdrop {
  position: fixed;
  background-color: #202124b2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .3s;
  z-index: 150;
}

.note-modal {
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
  position: fixed;
  z-index: 200;
  inset-inline-start: 25%;
  inset-block-start: 25%;
  width: 50%;
  height: max-content;
  background-color: white;
  transition: opacity .3s;
  border-radius: 5px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.note-modal .modal-title {
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  background-color: var(--clr4);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.note-modal .modal-title h3 { margin: 0; color: inherit; }

.note-modal .modal-title .title-actions * {
  margin-inline: 5px;
  cursor: pointer;
  font-size: 24px;
  transition: rotate .3s;
}

.note-modal .modal-title .title-actions {
  display: flex;
  gap: 5px;
}

.note-modal .modal-title .title-actions i {
  transition: color .3s;
}

.note-modal .modal-title .title-actions i:hover {
  color: var(--clr3);
}

.note-modal .modal-content {
  flex-grow: 1;
  padding: 10px;
}

.note-modal .modal-actions {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.note-modal .modal-actions button {
  width: 200px;
  background-color: orange;
  color: white;
  transition: box-shadow .3s;
}

.note-modal .modal-actions button:hover {
  box-shadow: none;
}
