@media (min-width: 568px) {
  .note-list {
    columns: 200px 2;
  }

  .note-add .note-form {
    grid-template-columns: auto 200px;
  }

  .note-form .dynamic-input {
    grid-column: 1 / span 2;
  }

  .note-form .dynamic-input button[type="submit"] {
    width: 200px !important;
  }
}

@media (min-width: 768px) {
  .note-list {
    columns: 200px 3;
  }

  .note-add {
    margin-inline: auto;
    width: 70%;
  }
}

@media (min-width: 1000px) {
  .note-list {
    columns: 200px 4;
  }

  .note-add {
    width: 50%;
  }
}

@media (min-width: 1250px) {
  .note-list {
    columns: 200px 5;
  }
}

@media (min-width: 1500px) {
  .note-list {
    columns: 200px 6;
  }

  .note-add {
    width: 40%;
  }
}