.mail-page .side-nav .compose-btn {
    margin-inline-start: 20px;
}

.mail-page .side-nav a {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100%;
    transition: .3s;
}


.mail-page .side-nav a.router-link-exact-active {
    background-color: #d8d8d8;
    color: var(--secondary-clr3);
}

.mail-page .side-nav a:hover {
    background-color: #d8d8d8;
    color: var(--secondary-clr3);
  }

.mail-container {
    /* margin-left: 160px; */
    margin-top: 90px;
}

.mail-list {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
}

/* MAIL PREVIEW */

.mail-preview {
    position: relative;

    display: grid;
    align-items: center;
    grid-template-columns: 50px 200px 200px auto max-content;
    padding-inline-end: 10px;
    gap: 10px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    
    overflow: hidden;
    text-overflow: ellipsis;
    
    padding: 15px 10px;
}

.mail-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.mail-preview:hover .actions {
    opacity: 1;
}

.mail-preview .actions {
    background-color: var(--clr2);
    padding-inline: 10px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: flex;
    gap: 10px;
    /* transition: .5s; */
    font-size: large;
}

.mail-preview.starred .fa-star {
    color: var(--secondary-clr1);
}
.mail-preview.read > * {
    font-family: roboto-reg;
}
.mail-preview > * {
    font-family: roboto-bold;
}

.mail-list li {
    background-color: var(--clr2);
}
.mail-list li .mail-preview.read {
    background-color: white;
}
.mail-preview:hover.read .actions {
    background-color: white;
}

.mail-preview > * {
    margin: 0;
}

.mail-preview i {
    margin: auto;
}

.mail-preview .from {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.mail-preview .body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .date {
    justify-self: end;
}

/* MAIL DETAILS */

.mail-details {
    margin-top: 100px;
    /* margin-left: 160px; */
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.mail-details .mail-actions {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px 20px 10px;
}

.mail-details .mail-body h1{
    font-size: 1.5em;
}

.mail-details .mail-body .sender-date {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}
.mail-details .mail-body .sender-date .date{
    flex-shrink: 1;
}

