.mail-page .side-nav .compose-btn {
    margin-inline-start: 20px;
}

.mail-page .side-nav a {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 100%;
    transition: .3s;
}


.mail-page .side-nav a.router-link-exact-active {
    background-color: #d8d8d8;
    color: var(--secondary-clr3);
}

.mail-page .side-nav a:hover {
    background-color: #d8d8d8;
    color: var(--secondary-clr3);
  }

.mail-container {
    /* margin-left: 160px; */
    margin-top: 90px;
}

.mail-list {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;
}

.mail-list li {
    background-color: var(--clr2);
}

.mail-list li .mail-preview.read {
    background-color: white;
}