:root {
  
  --clr1: rgb(240, 240, 240);
  --clr2: #f1f3f4;
  --clr25: #d1d4d5;
  --clr3: #5f6368;
  --clr4: #202124;

  --secondary-clr1: #ecae01;
  --secondary-clr2: #c2e7ff;
  --secondary-clr3: #d44235;
  --secondary-clr3: #3d9855;

} 