/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* text helpers */

.colored-text {
    color: solid var(--clr5);
}

/* cursor helper */
.clk {
    cursor: pointer;
}

/* button helper */
.blue-mail-btn {
    background-color: var(--secondary-clr2);
    font-size: 1em;
    padding: 5px 20px 5px 20px;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.rotate-90 {
    rotate: 90deg;
}

.outline-none {
    outline: none;
}

/* font awsome */

.fa {
    font-family: fa;
}

.fa.fa-facebook::before {
    content: "\f39e";
}

.fa.fa-twitter::before {
    content: "\f099";
}

.fa.fa-dribbble::before {
    content: "\f17d";
}

.fa.fa-behance::before {
    content: "\f1b4";
}